<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Main-Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>

<div th:insert="~{header :: header}"></div>
<div th:insert="~{header :: navbar}"></div>

<br>
<br>

<div sec:authorize="hasRole('ADMIN')">
    <br><br>
    <p>
        <a th:href="@{/admin}">Admin Panel</a>
        (Admin Only)
    </p>
    <hr>
</div>

<h1>Lista ogłoszeń</h1>

<div class="announcement-container">
    <div class="announcement" th:each="advert : ${adverts}">
        <div class="announcement-header">
            <span class="announcement-id" th:text="${advert.id}">1</span>
        </div>
        <div class="announcement-content">
            <h3 th:text="${advert.title}">Tytuł ogłoszenia</h3>
            <p th:text="${advert.information}">Treść ogłoszenia</p>
        </div>
        <div class="date">
            <p>Data utworzenia: <span class="date" th:text="${advert.creationDate}">01-01-2024</span></p>
            <p>Data wygaśnięcia: <span class="date" th:text="${advert.expirationDate}">31-12-2024</span></p>
        </div>
        <div class="announcement-footer">
            <form th:action="@{'/delete/' + ${advert.id}}" method="POST">
                <button type="submit" class="delete-button">Usuń</button>
            </form>
            <form th:action="@{'/update/' + ${advert.id}}" method="GET">
                <button type="submit" class="edit-button">Edytuj</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>