<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Main-Page</title>
</head>
<body>
<h1>Welcome to our main page</h1>
<p>
    User: <span sec:authentication="principal.username"></span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>

</p>
<hr>
<br><br>
<form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout">
</form>
<br><br>
    <h2>List of Adverts</h2>
<ul>
    <li th:each="advert : ${adverts}">
        <span th:text="${advert.id}">Advert ID</span>: <span th:text="${advert.information}">Informacja</span>
    </li>
</ul>

</body>
</html>